.progress-multiple{
	height: 50px;
	display: flex;
	justify-content: flex-start;
	margin: 40px 8px;
	position: relative;
	border-radius: 40px;
	background-color: var(--color-black-200);
	padding: 10px;
	overflow: initial;
		&-bar{
			position: relative;
			inset: 0;
			border-top-right-radius: 20px;
			border-bottom-right-radius: 20px;
			min-width: 15px;
				&:not(:first-child){
					&:before{
						content: '';
						position: absolute;
						pointer-events: none;
						background-color: currentColor;
						top: 0;
						right: 100%;
						width: 10px;
						bottom: 0;
							@include d($sm){
								right: calc(100% - 30px);
							}
					}
				}
				&:nth-child(1){
					background-color: var(--color-primary);
					color: var(--color-primary);
					border-top-left-radius: 20px;
					border-bottom-left-radius: 20px;
				}
				&:nth-child(2){
					background-color: var(--color-blue);
					color: var(--color-blue);
				}
				&:nth-child(3){
					background-color: var(--color-turquoise);
					color: var(--color-turquoise);
				}
			&:nth-child(4){
				background-color: var(--color-grey-100);
				color: var(--color-grey-100);
			}
				@for $i from 1 through 5 {
					&:nth-child(#{$i}){
						z-index: 5 - $i;
					}
				}
		}
		&-label{
			position: absolute;
			color: inherit;
			right: 0;
				&.__top{
					top: -30px;
				}
				&.__bottom{
					bottom: -30px;
				}
		}
		&:before{
			content: '';
			position: absolute;
			inset: -8px;
			background-color: var(--color-black-200);
			border-radius: 40px;
			pointer-events: none;
		}
}