.progress{
	@extend .font-bold;
	height: 34px;
	background-color: var(--color-black-200);
	border-radius: 40px;
	padding: 10px;
	font-size: 12px;
	color: var(--color-grey-400);
	justify-content: space-between;

		@media (max-width: 576px)  {
			margin: 0 0 0 35px;
		}
		&-bar{
			border-radius: 16px;
			background: linear-gradient(180deg, #1A70FE 9.41%, rgba(26, 112, 254, 0.24) 148.92%);
			opacity: .8;
		}
		&-value{
			margin-left: 16px;
			margin-right: 16px;
		}
}