.consensus-chart{
	height: 227px;
	position: relative;
		&:before{
			content: '';
			position: absolute;
			width: 210px;
			height: 212px;
			top: 22px;
			left: 50%;
			transform: translateX(-50%);
			border-radius: 50%;
			border: 24px #323232 solid;
		}
		&:after{
			@extend .color-grey;
			content: 'Validators';
			position: absolute;
			top: calc(50% + 30px);
			left: 50%;
			text-align: center;
			transform: translate(-50%, -50%);
			pointer-events: none;
		}
		.plotly{
			> div {
				@media (max-width: 767px) {
					width: 100% !important;
				}

				svg {
					@media (max-width: 767px) {
						width: 100% !important
					}
				}
			}
		}
}