.tokenomics{
		&-chart {
			height: 120px;
			width: 190px;
			position: relative;
			overflow-y: hidden;
			border-radius: 10px;
			margin-bottom: 21px;
				.js-plotly-plot {
					position: absolute;
					top: 0;
					left: 0;
					height: 200% !important;
				}
		}
		&-legends {
			padding-top: 62px;
		}
}
