.progress-multiple{
	height: 29px;
	display: flex;
	padding: 0;
	margin: 40px 8px;
	position: relative;
	overflow: initial;
		&-bar{
			position: absolute;
			inset: 0;
			border-radius: 40px;
				&:nth-child(1){
					background-color: var(--color-primary);
					color: var(--color-primary);
				}
				&:nth-child(2){
					background-color: var(--color-blue);
					color: var(--color-blue);
				}
				&:nth-child(3){
					background-color: var(--color-turquoise);
					color: var(--color-turquoise);
				}
				&:nth-child(4){
					background-color: var(--color-violet);
					color: var(--color-violet);
				}
		}
		&-label{
			position: absolute;
			color: inherit;
			right: 0;
				&.__top{
					top: -30px;
				}
				&.__bottom{
					bottom: -30px;
				}
		}
		&:before{
			content: '';
			position: absolute;
			inset: -8px;
			background-color: var(--color-black-200);
			border-radius: 40px;
			pointer-events: none;
		}
}