.progress-multiple{
	height: 29px;
	display: flex;
	justify-content: flex-start;
	padding: 0;
	margin: 40px 8px;
	position: relative;
	overflow: initial;
		&-bar{
			position: relative;
			inset: 0;
			border-radius: 20px;
				&:not(:first-child){
					&:before{
						content: '';
						position: absolute;
						pointer-events: none;
						background-color: currentColor;
						top: 0;
						right: calc(100% - 15px);
						width: 30px;
						bottom: 0;
					}
				}
				&:nth-child(1){
					background-color: var(--color-primary);
					color: var(--color-primary);
				}
				&:nth-child(2){
					background-color: var(--color-blue);
					color: var(--color-blue);
				}
				&:nth-child(3){
					background-color: var(--color-turquoise);
					color: var(--color-turquoise);
				}
				@for $i from 1 through 5 {
					&:nth-child(#{$i}){
						z-index: 5 - $i;
					}
				}
		}
		&-label{
			position: absolute;
			color: inherit;
			right: 0;
				&.__top{
					top: -30px;
				}
				&.__bottom{
					bottom: -30px;
				}
		}
		&:before{
			content: '';
			position: absolute;
			inset: -8px;
			background-color: var(--color-black-200);
			border-radius: 40px;
			pointer-events: none;
		}
}