.btn{
	border-radius: 40px;
	height: 52px;
	line-height: 52px;
	padding: 5px 24px;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	border: 1px var(--color-black-200) solid;
	background-color: var(--color-black-200);
	color: var(--color-white);
	font-family: var(--font-secodary-bold);
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: .05em;
	transition: all var(--duration) var(--ease);
		&-title{
			padding: 0 6px;
				& ~ svg{
					margin-left: 30px;
					margin-right: 6px;
				}
		}
		/*
		Sizes
		 */
		&-sm{
			height: 42px;
			line-height: 42px;
		}
		&-md{
			height: 46px;
			line-height: 46px;
		}
		&-fullWidth{
			width: 100%;
		}
		&-fullHeight{
			height: 100%;
			padding: 10px;
		}
		&:hover{
			border-color: var(--color-primary);
			background-color: var(--color-primary);
			color: var(--color-black);
		}
		/*
		Themes
		 */
		&-theme{
				&-icon{
					width: 46px;
					height: 46px;
					padding: 5px;
					justify-content: center;
					color: var(--color-grey-600);
				}
		}
		/*
		Colors
		 */
		&-primary{
			border-color: var(--color-primary);
			background-color: var(--color-primary);
			color: var(--color-black);
				&.btn-outline{
					color: var(--color-primary);
				}
		}
		&-blue{
			border-color: var(--color-blue);
			background-color: var(--color-blue);
		}
		&-violet{
			border-color: var(--color-violet);
			background-color: var(--color-violet);
		}
		&-orange{
			border-color: var(--color-orange);
			background-color: var(--color-orange);
		}
		&-turquoise{
			border-color: var(--color-turquoise);
			background-color: var(--color-turquoise);
		}
		&-transparent{
			border-color: transparent;
			background-color: transparent;
				&:hover{
					background-color: transparent;
					border-color: transparent;
					color: inherit;
				}
		}
		/*
		Types
		 */
		&-outline{
			background-color: transparent;
				@include hover($md){
					&:hover{
						color: var(--color-white);
					}
				}
		}
		/*
		focus
		 */
		&:focus{
			box-shadow: none;
		}
		svg{
			max-width: 100%;
		}
}