.verticalNav{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 32px;
	position: sticky;
	top: 0;
	background-color: var(--color-black-100);
	border-radius: 0 20px 20px 0;
	border: 1px var(--color-grey-100) solid;
	margin-left: -1px;
		&:before{
			content: '';
			position: absolute;
			top: 50%;
			right: -3px;
			transform: translateY(-50%);
			height: 60px;
			width: 6px;
			background-color: var(--color-primary);
			border-radius: 5px;
		}
		&-logo{
			position: absolute;
			top: 40px;
			left: 50%;
			transform: translateX(-50%);
		}
		&-list{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
				&-item{
					width: 32px;
					height: 32px;
					display: flex;
					align-items: center;
					justify-content: center;
					color: var(--color-grey);
					transition: color var(--duration) var(--ease);
					margin: 22px 0;
						&.is-active{
							color: var(--color-primary);
							filter: drop-shadow(0 0 6px var(--color-primary));
						}
						@include hover($md){
							&:hover{
								color: var(--color-primary);
							}
						}
				}
		}
		&-detail{
			position: absolute;
			bottom: 58px;
			left: 50%;
			transform: translateX(-50%);
		}
}