.verticalNav{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 32px 32px 32px 57px;
	position: sticky;
	top: 0;
	background-color: var(--color-black-100);
	border-radius: 0 20px 20px 0;
	border: 1px var(--color-grey-100) solid;
	margin-left: -1px;
	transition: width var(--duration) var(--ease);
		&:before{
			content: '';
			position: absolute;
			top: 50%;
			right: -3px;
			transform: translateY(-50%);
			height: 60px;
			width: 6px;
			background-color: var(--color-primary);
			border-radius: 5px;
		}
		&-logo{
			position: absolute;
			top: 40px;
			left: 58px;
			z-index: 1;
		}
		&-list{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
				&-item{
					display: flex;
					align-items: center;
					justify-content: center;
					color: var(--color-grey);
					transition: color var(--duration) var(--ease);
					margin: 22px 0;
						a{
							display: inline-flex;
							align-items: center;
							color: var(--color-grey-700);
								&:hover{
									text-decoration: none;
									color: var(--color-primary);
								}
						}
						&.is-active{
								.link{
									&-title{
										color: var(--color-primary);
									}
									&-icon{
										color: var(--color-primary);
										filter: drop-shadow(0 0 6px var(--color-primary));
									}
								}
						}
						@include hover($md){
							&:hover{
								color: var(--color-primary);
							}
						}
				}
		}
		&-detail{
			position: absolute;
			bottom: 58px;
			left: 57px;
		}
		@include hover($md){
			&:hover{
				width: 320px;
					.link-title{
						opacity: 1;
						transition: opacity var(--duration) var(--ease);
					}
			}
		}
}

.link{
		&-icon{
			width: 32px;
			height: 32px;
			display: flex;
			align-items: center;
			justify-content: center;
				& ~ .link-title{
					margin-left: 40px;
				}
		}
		&-title{
			@extend .font-secondary-bold, .font-16;
			display: inline-block;
			line-height: 1em;
			padding-top: 1px;
			color: inherit;
			opacity: 0;
		}
}