.verticalNav{
	min-height: 820px;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 32px 32px 32px 57px;
	position: sticky;
	top: 0;
	background-color: var(--color-black-100);
	border-radius: 0 20px 20px 0;
	border: 1px var(--color-grey-100) solid;
	margin-left: -1px;
	transition: width var(--duration) var(--ease);

		@media (max-width: 767px) {
			width: 250px;
			transition: all 0.4s ease;
			margin: 0 0 0 -340px;
			overflow-x: hidden;
			min-height: inherit;
			padding: 20px;
			display: block;
			.nav-active & {
				margin: 0;
			}
		}
		&:before{
			content: '';
			position: absolute;
			top: 50%;
			right: -3px;
			transform: translateY(-50%);
			height: 60px;
			width: 6px;
			background-color: var(--color-primary);
			border-radius: 5px;
		}
		&-logo{
			position: absolute;
			top: 40px;
			left: 58px;
			z-index: 1;

			@media (max-width: 767px) {
				position: static;
			}
		}
		&-list{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
				&-item{
					display: flex;
					align-items: center;
					justify-content: center;
					color: var(--color-grey);
					transition: color var(--duration) var(--ease);
					margin: 22px 0;

						@media (max-width: 767px) {
							overflow: hidden;
							display: block;
						}
						a{
							display: inline-flex;
							align-items: center;
							color: var(--color-grey-700);
								&:hover{
									text-decoration: none;
									color: var(--color-primary);
								}
						}
						.link{
							&-title{
								visibility: hidden;
								opacity: 0;
								display: none;
								transition: visibility var(--duration) var(--ease), opacity var(--duration) var(--ease);

								@media (max-width: 767px) {
									opacity: 1;
									visibility: visible;
									display: block;
								}
							}
						}
						&.is-active{
								.link{
									&-title{
										color: var(--color-primary);
									}
									&-icon{
										color: var(--color-primary);
										filter: drop-shadow(0 0 6px var(--color-primary));
									}
								}
						}
						@include hover($md){
							&:hover{
								color: var(--color-primary);
							}
						}
				}
		}
		&-detail{
			position: absolute;
			bottom: 58px;
			left: 57px;

			@media (max-width: 767px) {
				position: static;
			}
		}

		@include hover($md){
			&:hover{
				width: 300px;

				@media (max-width: 767px)  {
					width: 250px;
				}
					.link-title{
						opacity: 1;
						visibility: visible;
						display: inline-block;
					}
			}
		}
}

.link{
		&-icon{
			width: 32px;
			height: 32px;
			display: flex;
			align-items: center;
			justify-content: center;
				& ~ .link-title{
					margin-left: 40px;
				}
		}
		&-title{
			@extend .font-secondary-bold, .font-16;
			display: inline-block;
			line-height: 1em;
			padding-top: 1px;
			color: inherit;
			opacity: 0;
		}
}
.h-2{
	@media (max-width: 767px) {
		font-size: 24px;
	}
}