.thumb{
	overflow: hidden;
	border-radius: 50%;
		img{
			@include imageCover(center);
		}
}

.size{
	&-30{
		width: 30px;
		height: 30px;
		min-width: 30px;

		@media(max-width: 420px){
			width: 15px !important;
			height: 15px !important;
			min-width: 15px !important;
		}

	}
}

.image {
	@media(max-width: 480px){
		width: 15px !important;
		height: 15px !important;
		min-width: 15px !important;
	}
}

.position{
	&-left{
		margin-right: 9px;
	}
	&-right{
		margin-left: 9px;
	}
}