body{
	background-color: var(--color-black);
	color: var(--color-grey-700);
	font-family: var(--font-base);
	font-size: 14px;
}

strong{
	font-family: var(--font-base-bold);
	letter-spacing: .03em;
}

.dot{
	&-row{
		display: flex;
		align-items: center;
		white-space: nowrap;
			&-title{
			
			}
			&-item{
				flex: 1;
				height: 2px;
				background-color: #323232;
				margin: 0 0 0 18px;
				position: relative;
					&:before,
					&:after{
						content: '';
						position: absolute;
						pointer-events: none;
						background-repeat: no-repeat;
						background-size: contain;
						background-position: center;
					}
					&:before{
						background-image: url(/static/images/dot-start.svg);
						width: 11px;
						height: 20px;
						left: -9px;
						top: -9px;
					}
					&:after{
						width: 23px;
						height: 20px;
						background-image: url(/static/images/dot-end.svg);
						right: 0;
						top: -9px;
					}
			}
			&-icon{
				position: absolute;
				width: 12px;
				height: 12px;
				border-radius: 2px;
				right: 4px;
				top: -5px;
				z-index: 1;
			}
	}
}

.status{
	display: inline-block;
	border-radius: 40px;
	height: 34px;
	line-height: 36px;
	white-space: nowrap;
	width: 124px;
	max-width: 124px;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: center;
	padding: 0 20px;
	background-color: var(--color-black-200);
		&-md{
			width: 56px;
			font-size: 12px;
			padding: 0 5px;
			text-transform: uppercase;
		}
}

.signal{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	box-shadow: 0 0 6px currentColor;
}

.preloader{
	position: relative;
	height: 100%;
	min-height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.error-block{
	@extend .preloader;
}

.list{
		&-custom{
			padding: 30px 0;
				li{
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 13px 0;
						&:not(:last-child){
							border-bottom: 1px #323232 solid;
						}
						&:nth-child(2){
							text-align: right;
						}
				}
		}
}

.h{
	&-100{
		& > div{
			height: 100%;
		}
	}
}

.icon-dot{
	width: 18px;
	height: 18px;
	background-color: var(--color-turquoise);
	border-radius: 50%;
	text-align: center;
	display: flex;
	position: relative;
	margin: 0 5px;
		&-item{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			color: var(--color-black);
		}
}

.hr{
	height: 1px;
	border: none;
	margin: 24px 0;
	background-color: var(--color-black-200);
}

.validator{
		&-header{
				&-mark{
					width: 250px;
				}
		}
}