.account{
		&-table{
				&.box-overlay{
					max-height: 485px;
					max-width: 100%;
						&.__y{
							overflow-x: hidden;
						}
				}
		}
}

.table-box{
		&.account{
				.table-header{
						&-actions{
							.table-sort{
								margin-left: 15px;
							}
						}
						&-action{
								&.__sort{
									@include m(1401){
										display: none;
									}
								}
						}
				}
		}
}