.wrapper{
		&-layout{
			display: flex;
			height: 100%;
			align-items: stretch;
				&-sidebar{
					width: 145px;
					position: relative;
					z-index: 10;
				}
				&-body{
					flex: 1;
					padding: 32px 48px 80px 32px;
					position: relative;
				}
		}
}