//@import "libs/bootstrap.min.css";
@import "libs/bootstrap/bootstrap";

@import "base/mixins";
@import "base/fonts";
@import "base/base";
@import "base/custom-properties";
@import "base/typography";
@import "base/classes";

@import "pages/governance";
@import "pages/proposal";

@import "components/index";