.tabs{
	&-buttons{
		position: relative;
		border-bottom: 2px var(--color-black-200) solid;
		display: flex;
		align-items: flex-end;
			
			@include d($sm){
				flex-direction: column;
				align-items: flex-start;
				border-bottom: none;
			}
		
			&-item{
				flex: 1;
					&[class*="--selected"]{
						.tabs-button{
							color: var(--color-primary);
								&:before{
									width: 100%;
									height: 6px;
									bottom: 1px;
									background-color: currentColor;
								}
						}
					}
					&:focus{
						outline: none;
					}
				
					@include d($sm){
						margin-bottom: 20px;
					}
			}
	}
	&-button{
		@extend .font-bold;
		position: relative;
		display: inline-block;
		color: var(--color-grey-500);
		cursor: pointer;
		padding-bottom: 20px;
		margin-bottom: -5px;
		transition: color var(--duration) var(--ease);
			&:before{
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 8px;
				height: 8px;
				border-radius: 5px;
				background-color: var(--color-black-200);
				cursor: pointer;
				pointer-events: none;
				transition: color, width var(--duration) var(--ease);
			}
			&.is-active{
				color: var(--color-primary);
					&:before{
						width: 100%;
						height: 6px;
						bottom: 1px;
						background-color: currentColor;
					}
			}
			
			@include d($sm){
				padding-bottom: 5px;
			}
	}
}