.pagination{
	&-rounded{
		height: 46px;

		@media (max-width: 576px) {
			text-align: center;
			margin: 0 0 106px;
			width: 100%;
		}
			.pagination{
				&-item{
					margin: 0;
						&.__prev{
							left: 0;
							top: 0;
						}
						&.__next{
							right: 0;
							top: 0;
						}
						&.__prev,
						&.__next{
							.pagination{
								&-link{
									&:hover{
										background-color: var(--color-primary);
										color: var(--color-black);
									}
								}
							}
						}
						&.__first,
						&.__last{
							height: 100%;
							.pagination{
									&-link{
										height: 100%;
										width: 124px;
										background-color: var(--color-black-200);
										border-radius: 40px;
										letter-spacing: .05em;
										font-family: var(--font-title-bold);
										text-transform: uppercase;
										line-height: 46px;
										padding: 0 10px;
											&:hover{
												background-color: var(--color-primary);
												color: var(--color-black);
											}

											@media (max-width: 767px) {
												width: 80px;
												padding:  0 6px;
												font-size: 12px;
												border-radius: 20px;
											} 

											@media (max-width: 576px) {
												width: 100%;
											}
									}
							}
						}
				}
				&-list{
					min-width: 270px;
					justify-content: space-between;
					text-align: center;
					border-radius: 40px;
					background-color: var(--color-black-200);
					position: relative;
					margin: 0 12px;

					@include d($sm){
						font-size: 14px;
						min-width: 220px;
					}

					@include d($xs){
						margin: 10px 0;
					} 
				}
				&-link{
					&-arrow{
						display: flex;
						align-items: center;
						justify-content: center;
						height: 46px;
						width: 46px;
						min-width: 46px;
						border: 1px var(--color-primary) solid;
						border-radius: 50%;
						color: var(--color-primary);

						@media (max-width: 767px) {
							width: 30px;
						} 
					}
				}
			}
	}
}

.left-text {
	@media (max-width: 1199px) {
		justify-content: flex-start !important;		
	} 
}