.pagination{
	display: inline-flex;
	border-radius: 0;

		@media (max-width: 576px) {
			display: block;
		}
		&-list{
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&-link{
			white-space: nowrap;
			max-width: 100%;
			text-overflow: ellipsis;
			overflow: hidden;
			display: inline-block;
			text-align: center;
			width: 36px;
			height: 36px;
			line-height: 36px;
			border-radius: 6px;
			font-family: var(--font-title-bold);
			transition: background-color var(--duration) var(--ease), color var(--duration) var(--ease);
			cursor: pointer;
				&:hover{
					text-decoration: none;
					color: var(--color-primary);
				}
				&.is-active{
					background-color: var(--color-primary);
					color: var(--color-black);
				}

				@media (max-width: 767px) {
					width: 26px;
				}
		}
		&-item{
			margin: 0 6px;
			
				@include d($xs){
					margin: 0 2px;
				}
			
				&.__prev{
					transform: scaleX(-1);
				}
				&.__prev,
				&.__next{
						.pagination{
							&-link{
								color: var(--color-primary);
									&:hover{
										color: var(--color-white);
									}
							}
						}
				}
			
				&:hover{
					text-decoration: none;
					color: var(--color-primary);
				}
				&.disabled{
					opacity: .5;
					pointer-events: none;
				}
				&.is-active{
					.pagination-link{
						background-color: var(--color-primary);
						color: var(--color-black);
					}
				}
		}
}

.pagination-line {
		.pagination{
			&-item{
				&.__prev,
				&.__next{
					.pagination{
						&-link{
							color: var(--color-primary);
							background-image: url(./assets/icons/arrow-right.svg);
							background-repeat: no-repeat;
							background-size: 60%;
							background-position: center;
						}
					}
				}
			}
		}
		@media (max-width: 576px) {
			display: inline-flex !important;
	  }
}