.table{
	margin: 0;
	color: var(--color-grey-700);
		&-box{
			background-color: var(--color-black-100);
			border-radius: 7px;
			padding: 25px 32px;
			/*
			Input
		 */
			.form{
					&-control{
						background-color: var(--color-black-200);
					}
			}
		}
		&-header{
			margin-bottom: 54px;
		}
		&-status{
			position: relative;
			line-height: 1em;
			padding-left: 25px;
				&:before{
					content: '';
					position: absolute;
					pointer-events: none;
					width: 12px;
					height: 12px;
					border-radius: 2px;
					background-color: currentColor;
					top: 44%;
					left: 0;
					transform: translateY(-50%);
				}
		}
		thead{
			th{
				border: none;
				letter-spacing: .05em;
				color: var(--color-grey-500);
				font-family: var(--font-base);
				padding: 0 17px 10px;
			}
		}
		tbody{
			tr{
				&:nth-child(odd){
					td, th{
						&:before{
							background-color: #323232;
						}
					}
				}
				&:nth-child(even){
					td, th{
						&:before{
							background-color: #262626;
						}
					}
					.status{
						background-color: #202020;
					}
				}
			}
			th, td{
				margin: 3px 0;
				padding: 12px 18px;
				position: relative;
					&:before{
						content: '';
						position: absolute;
						top: 3px;
						bottom: 3px;
						left: 0;
						right: 0;
						pointer-events: none;
					}
					&:nth-child(1){
						&:before{
							border-radius: 7px 0 0 7px;
						}
					}
					&:last-child{
						&:before{
							border-radius: 0 7px 7px 0;
						}
					}
					& > *{
						position: relative;
					}
					& > span:not(.font-hash):not(.status){
						display: inline-flex;
						align-items: center;
						min-height: 30px;
					}
			}
		}
		th{
			border-top: none;
		}
		td{
			border-top: none;
			vertical-align: middle;
				.btn{
					height: 34px;
					line-height: 34px;
					padding: 5px 15px;
					color: var(--color-primary);
						&:hover{
							color: var(--color-black);
						}
						&-theme{
							&-icon{
								padding: 7px;
								width: 34px;
								color: var(--color-grey);
								&:hover{
									color: var(--color-grey);
								}
							}
						}
				}
		}
}