.table-list{
		li{
			display: flex;
			justify-content: space-between;
			align-items: center;
				&:not(:last-child){
					margin-bottom: 10px;
				}
		}

		.font-16 {
			@media(max-width: 576px) {
				font-size: 12px;
			}

			@media(max-width: 350px) {
				font-size: 9px;
			}
		}
}