.table{
	margin: 0;
		&-box{
			background-color: var(--color-black-100);
			border-radius: 7px;
			padding: 25px 32px;
		}
		thead{
				th{
					border: none;
					letter-spacing: .05em;
					color: var(--color-grey-500);
					font-family: var(--font-base);
					padding: 0 17px 10px;
				}
		}
		tbody{
				tr{
						&:nth-child(odd){
							td, th{
								&:before{
									background-color: #323232;
								}
							}
						}
						&:nth-child(even){
							td, th{
								&:before{
									background-color: #262626;
								}
							}
						}
				}
				th, td{
					margin: 3px 0;
					padding: 12px 18px;
					position: relative;
						&:before{
							content: '';
							position: absolute;
							top: 3px;
							bottom: 3px;
							left: 0;
							right: 0;
							pointer-events: none;
						}
						&:nth-child(1){
							&:before{
								border-radius: 7px 0 0 7px;
							}
						}
						&:last-child{
							&:before{
								border-radius: 0 7px 7px 0;
							}
						}
						& > *{
							position: relative;
						}
				}
		}
		th{
			border-top: none;
		}
		td{
			border-top: none;
			vertical-align: middle;
		}
}