:root {
  --color-black:                          #151616;
  --color-black-100:                      #1E1F1F;
  --color-black-200:                      #2C2C2C;
  --color-white:                          #FFFFFF;
  --color-grey:                           #939FAB;
  --color-grey-100:                       #4E4E4E;
  --color-grey-200:                       #717D89;
  --color-grey-300:                       #4B4B4B;
  --color-grey-400:                       #8B909A;
  --color-grey-500:                       #6C6C6C;
  --color-grey-600:                       #A7A7A7;
  --color-grey-700:                       #E3EBEF;
  --color-primary:                        #47D0FE;
  --color-blue:                           #1A70FE;
  --color-violet:                         #9485FE;
  --color-orange:                         #FFB342;
  --color-turquoise:                      #4FF0D7;
  --color-success:                        #2BBF6F;
  --font-base:                            'Nexa-Regular', sans-serif;
  --font-base-book:                       'Nexa-Book', sans-serif;
  --font-base-bold:                       'Nexa-Bold';
  --font-secodary-bold:                   'SpaceMono-Bold';
  --font-title-bold:                      'RobotoMono-Bold', sans-serif;
  --font-title-regular:                   'RobotoMono-Regular', sans-serif;
  --duration:                             .3s;
  --ease:                                 ease;
}

$xl:                                      1330;
$lg:                                      1199;
$md:                                      991;
$sm:                                      767;
$xs:                                      575;
$xxs:                                     480;