.form{
	&-check{
		padding-left: 30px;
		margin: 5px 0;
		display: inline-block;
			&-input{
				&:checked{
					& ~ .form-check-icon{
						background-color: var(--color-primary);
					}
				}
			}
			&-label{
			
			}
			&-icon{
				position: absolute;
				top: 2px;
				left: 0;
				width: 18px;
				height: 18px;
				background-color: var(--color-black-200);
				border-radius: 2px;
			}
	}
}