.form{
		&-control{
			background-color: var(--color-black-100);
			border-color: transparent;
			height: 56px;
			border-radius: 30px;
			font-size: 16px;
			font-family: var(--font-base);
			letter-spacing: .05em;
			color: var(--color-white);
			padding: 0 18px;
				&:focus{
					background-color: var(--color-black-100);
					box-shadow: none;
					border-color: transparent;
					color: var(--color-white);
				}
				&-icon{
					position: absolute;
					color: var(--color-grey-200);
					width: 22px;
					height: 22px;
					left: 18px;
					top: 50%;
					transform: translateY(-50%);
						& ~ .form-control{
							padding-left: 60px;
						}
				}
				&-container{
					display: block;
					position: relative;
				}
				&::-webkit-input-placeholder {
					color: var(--color-grey-300);
				}
				&::-moz-placeholder {
					color: var(--color-grey-300);
				}
				&:-ms-input-placeholder {
					color: var(--color-grey-300);
				}
				&:-moz-placeholder {
					color: var(--color-grey-300);
				}
		}
}