.tooltip{
	position: relative;
	display: inline-block;
	opacity: 1;
	font-size: inherit;
	font-weight: normal;
	line-height: 1.3em;
	margin: 0;
	z-index: 5;
		&-trigger{
			cursor: help;
				&:hover{
					& ~ .tooltip-body{
						display: block;
					}
				}
		}
		&-body{
			position: absolute;
			background-color: var(--color-black-200);
			border: 1px var(--color-grey-100) solid;
			border-radius: 10px;
			width: 100vw;
			color: var(--color-grey-700);
			display: none;
				&:before{
					content: '';
					position: absolute;
					border-radius: 5px;
					background-color: var(--color-black-200);
					border: 1px var(--color-grey-300) solid;
					transform: rotate(45deg);
					pointer-events: none;
				}
				&:after{
					content: '';
					position: absolute;
					inset: 0;
					border-radius: 10px;
					background-color: var(--color-black-200);
					pointer-events: none;
				}
				&-content{
					position: relative;
					z-index: 1;
				}
				
				//positions
				&-bottom{
					top: calc(100% + 20px);
					left: 50%;
					transform: translateX(-50%);
						&:before{
							left: calc(50% - 5px);
							top: -3px;
							transform: rotate(45deg) translateX(-50%);
							border-bottom: none;
							border-right: none;
						}
				}
				&-top{
					bottom: calc(100% + 20px);
					left: 50%;
					transform: translateX(-50%);
						&:before{
							left: calc(50% - 5px);
							bottom: -24px;
							transform: rotate(45deg) translateX(-50%);
							border-top: none;
							border-left: none;
						}
				}
				&-left{
					top: 50%;
					transform: translateY(-50%);
					right: calc(100% + 20px);
						&:before{
							right: -3px;
							top: calc(50% - 5px);
							transform: rotate(45deg) translateY(-50%);
							border-bottom: none;
							border-left: none;
						}
				}
				&-right{
					top: 50%;
					transform: translateY(-50%);
					left: calc(100% + 20px);
						&:before{
							left: -24px;
							top: calc(50% - 5px);
							transform: rotate(45deg) translateY(-50%);
							border-top: none;
							border-right: none;
						}
				}
			
				//sizes
				&-md{
					max-width: 324px;
					padding: 20px;
						&:before{
							width: 30px;
							height: 30px;
						}
				}
				&-sm{
					max-width: 180px;
					padding: 15px;
					font-size: 12px;
						&:before{
							width: 20px;
							height: 20px;
						}
				}
				&-xs{
					max-width: 120px;
					padding: 10px;
					font-size: 12px;
						&:before{
							width: 15px;
							height: 15px;
						}
				}
			
				//text align
				&-left{
					text-align: left;
				}
				&-right{
					text-align: right;
				}
				&-center{
					text-align: center;
				}
		}
}