.form{
		&-control{
			background-color: #2C2C2C;
			border-color: transparent;
			height: 56px;
			border-radius: 30px;
			font-size: 16px;
			font-family: var(--font-base);
			letter-spacing: .05em;
			color: var(--color-white);
			padding: 0 18px;

				@include d($xs){
					margin: 0 ;
					height: 50px;
				}
				&:focus{
					background-color: var(--color-black-100);
					box-shadow: none;
					border-color: transparent;
					color: var(--color-white);
				}
				&-icon{
					position: absolute;
					color: var(--color-grey-200);
					width: 22px;
					height: 22px;
					left: 18px;
					top: 50%;
					transform: translateY(-50%);
						& ~ .form-control{
							padding-left: 60px;
						}
				}
				&-container{
					display: block;
					position: relative;
					margin: 0;
				}
				&::-webkit-input-placeholder {
					color: var(--color-grey-300);
				}
				&::-moz-placeholder {
					color: var(--color-grey-300);
				}
				&:-ms-input-placeholder {
					color: var(--color-grey-300);
				}
				&:-moz-placeholder {
					color: var(--color-grey-300);
				}
				
				/*
				button
				*/
				&-button{
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: 15px;
					width: 30px;
					height: 30px;
					border: none;
					background-color: transparent;
					padding: 0;
					display: flex;
					align-items: center;
					justify-content: center;
					color: var(--color-grey-500);
					transition: color var(--duration) var(--ease);
						svg{
							width: 50%;
							height: 50%;
						}
						@include hover($md){
							&:hover{
								color: var(--color-grey);
							}
						}
				}
				
				/*
				Sizes
				 */
				&-md{
					height: 46px;
					font-size: 14px;
				}
		}
}