.mempool-chart{
	height: 194px;
		.plotly{
			> div {
				@media (max-width: 767px) {
					width: 100% !important;
				}

				svg {
					@media (max-width: 767px) {
						width: 100% !important
					}
				}
			}
		}
}